<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Choose</key>
	<dict>
		<key>4</key>
		<dict>
			<key>title</key>
			<string>双11美食特惠</string>
			<key>detail</key>
			<string>抽取200元红包</string>
			<key>image</key>
			<string>forkeerestaurant.jpg</string>
		</dict>
		<key>3</key>
		<dict>
			<key>title</key>
			<string>首单最高满减40</string>
			<key>detail</key>
			<string>新人特权</string>
			<key>image</key>
			<string>cafelore.jpg</string>
		</dict>
		<key>2</key>
		<dict>
			<key>title</key>
			<string>双11特惠看片</string>
			<key>detail</key>
			<string>19.9元起</string>
			<key>image</key>
			<string>barrafina.jpg</string>
		</dict>
		<key>1</key>
		<dict>
			<key>title</key>
			<string>预售首单减30</string>
			<key>detail</key>
			<string>9.9元KTV</string>
			<key>image</key>
			<string>bourkestreetbakery.jpg</string>
		</dict>
	</dict>
	<key>AD</key>
	<dict>
		<key>2</key>
		<dict>
			<key>title</key>
			<string>华科精选 | Copyright © 2016年 李恺林.</string>
			<key>detail</key>
			<string>热卖</string>
		</dict>
		<key>1</key>
		<dict>
			<key>title</key>
			<string>华科精选 | 一家用心做咖啡的小店</string>
			<key>detail</key>
			<string>疯抢</string>
		</dict>
	</dict>
	<key>Demo</key>
	<dict>
		<key>8</key>
		<dict>
			<key>title</key>
			<string>中餐</string>
			<key>image</key>
			<string>wafflewolf.jpg</string>
		</dict>
		<key>7</key>
		<dict>
			<key>title</key>
			<string>小食</string>
			<key>image</key>
			<string>grahamavenuemeats.jpg</string>
		</dict>
		<key>6</key>
		<dict>
			<key>title</key>
			<string>甜点</string>
			<key>image</key>
			<string>donostia.jpg</string>
		</dict>
		<key>5</key>
		<dict>
			<key>title</key>
			<string>海鲜</string>
			<key>image</key>
			<string>petiteoyster.jpg</string>
		</dict>
		<key>1</key>
		<dict>
			<key>title</key>
			<string>蛋糕</string>
			<key>image</key>
			<string>fiveleaves.jpg</string>
		</dict>
		<key>2</key>
		<dict>
			<key>title</key>
			<string>咖啡</string>
			<key>image</key>
			<string>palominoespresso.jpg</string>
		</dict>
		<key>3</key>
		<dict>
			<key>title</key>
			<string>快餐</string>
			<key>image</key>
			<string>upstate.jpg</string>
		</dict>
		<key>4</key>
		<dict>
			<key>title</key>
			<string>西餐</string>
			<key>image</key>
			<string>barrafina.jpg</string>
		</dict>
	</dict>
	<key>Show</key>
	<dict>
		<key>5</key>
		<dict>
			<key>title</key>
			<string>麦德乐汉堡</string>
			<key>detail</key>
			<string>香辣鸡腿堡套餐</string>
			<key>price</key>
			<string>19.9</string>
			<key>hadSaled</key>
			<string>已售：521</string>
			<key>distance</key>
			<string>743m</string>
			<key>imageName</key>
			<string>traif.jpg</string>
		</dict>
		<key>6</key>
		<dict>
			<key>title</key>
			<string>新小城故事餐厅</string>
			<key>detail</key>
			<string>2-3人餐，提供免费Wi-Fi</string>
			<key>price</key>
			<string>68元起</string>
			<key>hadSaled</key>
			<string>已售：15124</string>
			<key>distance</key>
			<string>2.1km</string>
			<key>imageName</key>
			<string>teakha.jpg</string>
		</dict>
		<key>1</key>
		<dict>
			<key>title</key>
			<string>韩国烤肉拌饭</string>
			<key>detail</key>
			<string>33分钟配送</string>
			<key>price</key>
			<string>40.7起</string>
			<key>hadSaled</key>
			<string>月售：9842</string>
			<key>distance</key>
			<string>2.4km</string>
			<key>imageName</key>
			<string>caskpubkitchen.jpg</string>
		</dict>
		<key>2</key>
		<dict>
			<key>title</key>
			<string>和记美食鸡翅包饭</string>
			<key>detail</key>
			<string>惊喜价，提供免费Wi-Fi</string>
			<key>price</key>
			<string>9.9起</string>
			<key>hadSaled</key>
			<string>已售：3504</string>
			<key>distance</key>
			<string>1292m</string>
			<key>imageName</key>
			<string>upstate.jpg</string>
		</dict>
		<key>3</key>
		<dict>
			<key>title</key>
			<string>广隆蛋挞王</string>
			<key>detail</key>
			<string>葡式蛋挞</string>
			<key>price</key>
			<string>13.9起</string>
			<key>hadSaled</key>
			<string>已售：234</string>
			<key>distance</key>
			<string>340m</string>
			<key>imageName</key>
			<string>posatelier.jpg</string>
		</dict>
		<key>4</key>
		<dict>
			<key>title</key>
			<string>菲特堡自助经典</string>
			<key>detail</key>
			<string>单人自助午餐</string>
			<key>price</key>
			<string>49.9</string>
			<key>hadSaled</key>
			<string>已售：23907</string>
			<key>distance</key>
			<string>1.3km</string>
			<key>imageName</key>
			<string>confessional.jpg</string>
		</dict>
	</dict>
</dict>
</plist>
