<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>title</key>
		<string>Hello</string>
		<key>detail</key>
		<string>hello</string>
		<key>price</key>
		<string>hello</string>
		<key>hadSaled</key>
		<string>hello</string>
		<key>distance</key>
		<string>hello</string>
		<key>imageName</key>
		<string>cafeloisl.jpg</string>
	</dict>
	<key>2</key>
	<dict>
		<key>title</key>
		<string>Hello</string>
		<key>detail</key>
		<string>hello</string>
		<key>price</key>
		<string>hello</string>
		<key>hadSaled</key>
		<string>hello</string>
		<key>distance</key>
		<string>hello</string>
		<key>imageName</key>
		<string>cafeloisl.jpg</string>
	</dict>
	<key>3</key>
	<dict>
		<key>title</key>
		<string>Hello</string>
		<key>detail</key>
		<string>hello</string>
		<key>price</key>
		<string>hello</string>
		<key>hadSaled</key>
		<string>hello</string>
		<key>distance</key>
		<string>hello</string>
		<key>imageName</key>
		<string>cafeloisl.jpg</string>
	</dict>
	<key>4</key>
	<dict>
		<key>title</key>
		<string>Hello</string>
		<key>detail</key>
		<string>hello</string>
		<key>price</key>
		<string>hello</string>
		<key>hadSaled</key>
		<string>hello</string>
		<key>distance</key>
		<string>hello</string>
		<key>imageName</key>
		<string>cafeloisl.jpg</string>
	</dict>
	<key>5</key>
	<dict>
		<key>title</key>
		<string>Hello</string>
		<key>detail</key>
		<string>hello</string>
		<key>price</key>
		<string>hello</string>
		<key>hadSaled</key>
		<string>hello</string>
		<key>distance</key>
		<string>hello</string>
		<key>imageName</key>
		<string>cafeloisl.jpg</string>
	</dict>
</dict>
</plist>
